@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

body {
  height: 100vh;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 300px;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);

  z-index: 1000;

  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.divlogoheader,
.optionsheader,
.headerlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

#logoheader {
  height: 60px;
  border-radius: 100px;
}

.headerlist {
  gap: 30px;
  list-style: none; /* movido para cá diretamente */
}

.headerlist a {
  position: relative;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
}

.headerlist a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.headerlist a.aativo::after {
  width: 100%;
}

.optionsheader {
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px); /* evita sobreposição do header */
  max-width: 70%;
  margin: 70px auto 0;

  background-color: red;

  padding: 50px;

  gap: 70px;
}

.home {
  height: 80vh;
  width: 60vw;

  background-color: blue;
}

.sobrenos {
  height: 80vh;
  width: 60vw;

  background-color: rgb(55, 255, 0);
}

.modelos {
  height: 80vh;
  width: 60vw;

  background-color: rgb(7, 160, 226);
}

.Contato {
  height: 80vh;
  width: 60vw;

  background-color: rgb(153, 7, 226);
}

.aativo {
  border-bottom: solid 1px white;
  transition: border-bottom 0.3s ease;
}
